body {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
}
html {
    font-size: 16px;
}
#main {
    margin-top: 120px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h3 {
    color:#0092FF;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    font-size: 1.125rem;
    line-height: 1.5;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}
@media screen and (min-width: 900px) {
    h1 {
        font-size: 6rem;
    }
}

/*Fonts*/
.titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 120px;
}
  
#logo-index {
    display: flex;
    width: 100%;
    max-height: clamp(120px, 10vw, 257px);
    transition: height 1s cubic-bezier(0.4, 0, 0.2, 1), transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
#logo {
    display: flex;
    width: auto;
    height: 100%;
    transition: height 1s cubic-bezier(0.4, 0, 0.2, 1), transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Media queries for responsiveness */
/* For medium screens */
@media (max-width: 1024px) {
    #logo-index {
        max-height: 200px; /* Slightly reduce height for medium screens */
    }
}

/* For small screens */
@media (max-width: 768px) {
    #logo-index {
        max-height: 150px; /* Further reduce height for smaller screens */
    }
}

 
.home .header-left {
    margin-bottom: -700px;
}
  
.header-left {
    padding-left: 8rem;
}
  
.header-right {
    background-color: white;
    display: flex;
    flex-direction: row; 
    align-items: flex-end; 
    justify-content: flex-end; 
    flex-grow: 1; 
}
  
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 20px; 
    margin-top: 50px;
    padding-right: 40px; 
  }
    
  header li {
    position: relative; 
    padding: 0 20px; 
  }
  
  header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25rem;
  }
  
  header a:hover {
    color: #0092FF;
  }
  
  .contact-button {
    color: white;
    background-color: #0092FF;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
  }
  
  /* Hover effect */
  .contact-button:hover {
    transform: scale(1.1);
    color: white;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000; 
    border: 1px solid #333;
  }
  
  .dropdown-menu li {
    border-bottom: 1px solid #555;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none; 
  }
  
  .dropdown-menu a {
    display: block; 
    padding: 10px 15px;
    white-space: nowrap; 
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  
  /* Show Dropdown on Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
main {
    margin-top: 120px;
}
/* Mobile Menu */
.hamburger-menu {
    display: none;  /* Hide by default */
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px 0;
}

.hamburger-menu .bar {
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
}

/* Mobile Navigation Menu (Initially hidden) */
.mobile-nav {
    display: none;
    position: absolute;
    top: 120px;
    right: 0;
    background-color: #003366;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.mobile-nav ul {
    padding: 0;
    list-style-type: none;
}

.mobile-nav ul li {
    padding: 15px;
    margin: 10px 0;
}

.mobile-nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* Responsive Header */
@media screen and (max-width: 768px) {
    /* Show hamburger menu on mobile */
    .hamburger-menu {
        display: flex;
    }

    /* Hide original nav on mobile */
    header ul {
        display: none;
    }

    /* Show mobile navigation */
    .mobile-nav {
        display: block;
    }
}

/* Desktop Layout */
@media screen and (min-width: 769px) {
    /* Desktop Navigation */
    .hamburger-menu {
        display: none; /* Hide hamburger on desktop */
    }

    header ul {
        display: flex;
    }

    /* Adjust footer and layout for large screens */
    .footer-left {
        padding-left: 10rem;
    }

    .footer-right {
        padding-right: 10rem;
    }
}

/*index*/
#home-photo {
    background-image: url('../images/dent-guys-truck-edit.jpg'); background-repeat: no-repeat;
    background-color: rgb(128,128,128);
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100%; 
    height: 90vh;
}
@media (max-width: 768px) {
    #home-photo {
      height: 30vh;
  } }
.box {
    color: white;
    text-align: center;
    padding-top: 180px;
    padding-left: 800px;
}
.box-small h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.box-small h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top:10px;
}


.findyourdentguy {
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #0092FF;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.25rem;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: auto;
}
.findyourdentguy:hover {
    transform: scale(1.1);
    color: white;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
}
.align-text {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    margin-bottom: 140px;
}
.align-text h2 {
    font-size: 1.875rem;
}
.align-text h3 {
    font-size: 1.75rem;
}
.align-text p {
    font-size: 1.5625rem;
    line-height: 2.5rem;
}


/*index- slides*/
.splide__slide img {
    width: 100%;
    
}
.splide {
    margin-left: 12.5%; 
    margin-right: 12.5%;
    
}


/*index- reviews secton*/
.reviews {
    background-color: lightgray;
    color:#003366;
    padding-top: 10px;
    padding-bottom: 20px;
}
.reviews h2 {
    flex-basis: 100%;
    text-align: center;
    font-size: 3.125rem;
}


/*footer*/
#footer {
    background-color: #003366;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
#logo-footer {
    width: 100%;
}
footer ul {
    list-style-type: none;
}
footer li {
    padding: 16px;
}
footer a {
    color: white;    
    text-decoration: none;
    font-size: 1.25rem;
}
footer a:hover {
    color:#0092FF
}
.footer-left {
    flex-basis: 80%;
    padding-left: 5rem;
}
.footer-right {
    flex-basis: 20%;
    padding-right: 5rem; 
    padding-bottom: 30px;
}

/* Pages General Layout */
.pages-header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
}
.content {
    margin: 50px 300px 100px 300px;
}

/* Medium screen adjustment */
@media (max-width: 1024px) {
    .content {
        margin: 50px 200px 100px 200px;
    }
}

/* Small screen adjustment */
@media (max-width: 768px) {
    .content {
        margin: 50px 100px 100px 100px;
    }
}

/* Extra small screen adjustment (optional) */
@media (max-width: 480px) {
    .content {
        margin: 20px; /* Simplified for very small screens */
    }
}


/*contact page*/
.contact-container {
    display:flex;
    margin-top: 50px;
}
.map{
width: 50%;
margin-right: 6rem;
text-align: center;
}
.contact {
    width: 50%;
}
.contact h3 {
    margin-left: 350px;
    font-size: 1.5rem;
}
.contact p,
.contact a {
    margin-left: 400px;
}

#find-your-dent-guy h3 {
    margin-left: 350px;
    
}
#find-your-dent-guy p {
    margin-left: 400px;
}
#find-your-dent-guy h2 {
    color: white;
    background-color: #0092FF;
    padding: 10px 15px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
#find-your-dent-guy {
    padding-bottom: 100px;
}
.dent-guys-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: -50px;
}
.shop {
    margin-right: 150px;
}
.mobile {
    margin-left: 150px;
}
.shop h3 {
    font-size: 1.5rem;
}
.mobile h3 {
    font-size: 1.5rem;
}
.mobile p {
    padding-left: 50px;
}
.shop p {
    padding-left: 50px;
}


/*photos page*/
.photos {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photos img {
    width: 50%;
    padding: 20px;
}


/*services page*/
.top-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}
.top-content-left {
    margin-left: 200px;
    text-align: center;
}
.top-content-left h2 {
    font-size: 2rem;

    font-weight:  Bold;
    margin-bottom: 10px;
}
.top-content img{
    height: 500px;
    margin-left: 100px;
}
.repair-services-container{
    align-content: center;
    text-align: center;
    margin: 50px 0 100px 0;
}
.repair-services {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.repair-services img {
    height: 100px;
}
.repair-services-button {
    background-color: #003366;
    padding: 5px 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.repair-services-button a {
    text-decoration: none;
    color: white;

}
.services-info-container1,
.services-info-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.services-info-container1 {
    margin-bottom: 100px;
}
.services-photo1 {
    margin-right: 100px;
}
.services-photo2 {
    margin-right: 100px; 
    width: 150%;  
}
.services-photo2 img {
    width: 100%;
}
.services-how-container{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 50px 300px;
    text-align: center;
}
.How-it-works-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.steps-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    margin: 20px 10px 0 10px;
}
.steps-body-container {
    background-color: white;
    padding: 10px 20px;
    color: black;
}
.steps-body-container p {
    text-align: left;
}

/* FAQ */
.FAQ {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.FAQ-info {
    align-self: stretch;
}
.FAQ-info h3,
.FAQ-info p {
    margin: 10px 50px 0px 50px;
}
hr {
    border: none; 
    border-top: 1px solid #ccc;
    margin: 40px 0; 
    width: 100%; 
}
.FAQ-photo img {
    margin-left: 100px;
    margin-top: 150px;
    width: 500px;
}

/* Discounts */
.discounts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-bottom: 200px;
}
.discount-photo img {
    margin-left: 200px;
    margin-right: 100px;
}

/* About Us */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
}
.about-photo img {
    margin-left: 100px;
    width: 600px;
}

/* Dent Repair */
.top-content-dent-repair {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: lightgrey;
}
.top-content-dent-repair-img img{
    height: 500px;
}
.top-content-right h2 {
    font-size: 2rem;
    font-weight: 400 Bold;
    margin-bottom: 10px;
}
.top-content-right img {
    height: 200px;
    margin-bottom: 10px; 
}
.top-content-right {
    text-align: center;
    width: 100%;
    margin-right: 100px;
}
.dent-repair-img img {
    width: 500px;
    padding-left: 100px;

}