body {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


@media screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}
@media screen and (min-width: 900px) {
    h1 {
        font-size: 6rem;
    }
}

/*Fonts*/
.titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*header*/
header {
  display: flex;
  flex-direction: row;
}

#logo {
    display: flex;
    max-width: 100%; 
    max-height: 257px; 
}

.home .header-left {
    margin-bottom: -700px;
}

.header-left {
    padding-left: 8rem;
}

.header-right { 
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 70%;
    justify-content: flex-end;
}

header p,
header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
    margin-right: 2rem;
}

header ul {
    list-style-type: none;
}

header li {
    padding: 0 40px;    
}

header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}
header a:hover {
    color:#0092FF;
}

.contact-button {
    color: white;
    background-color: #0092FF;
    border-radius: 5px;
    padding: 2px 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: padding 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;
    box-sizing: border-box;
}
.contact-button:hover {
    padding: 4px 17px;
    font-size: 26px;
    color: white;
    transform: scale(1.1);
}
/*.freeestimate {
    border: 2px solid black;
    color: white;
    background-color: #0092FF;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: 400;

}*/

/*index*/
#home-photo {
    background-image: url('../images/dent-guys-truck-edit.jpg'); background-repeat: no-repeat;
    background-color: rgb(128,128,128);
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 913px;
}

.box {
    color: white;
    text-align: center;
    padding-top: 180px;
    padding-left: 800px;
}
.box .box-small {

}
.box-small h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.box-small h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-top:10px;
    
}


.findyourdentguy {
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #0092FF;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 24px;
    text-decoration: none;
    transition: padding 0.3s ease, font-size 0.3s ease, background-color 0.3s ease;

}
.findyourdentguy:hover {
    padding: 12px 17px;
    font-size: 26px;
}
.align-text {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    margin-bottom: 140px;
}
.align-text h2 {
    font-size: 30px;
}
.align-text p {
    font-size: 25px;
    line-height: 2.5rem;
}


/*index slides*/
.splide__slide img {
    width: 100%;
    
}
.splide {
    margin-left: 12.5%; 
    margin-right: 12.5%;
    
}
.services-header,
.contact-header,
.photos-header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
}



/*index reviews secton*/
.reviews {
    background-color: lightgray;
    color:#003366;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 4rem 2rem 4rem;
}

.reviews h2 {
    flex-basis: 100%;
    text-align: center;
    font-size: 50px;
}
.reviews p {
    font-size: 20px;
}
.reviews div {
    color: black; 
    flex-basis: calc(100% / 3);
    padding: 1rem 6rem;
    text-align: center;
    line-height: 2.5rem;
}
#customers {
    color:#003366;
    font-weight: bold;
}

/*footer*/
#footer {
    background-color: #003366;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
footer ul {
    list-style-type: none;
}
footer li {
    padding: 1rem;
}
footer a {
    color: white;    
    text-decoration: none;
    font-size: 20px;
}
footer a:hover {
    color:#0092FF
}
.footer-left {
    flex-basis: 80%;
    padding-left: 5rem;
}
.footer-right {
    flex-basis: 20%;
    padding-right: 5rem; 
}

/*contact page*/
.contact-container {
    display:flex;
}
.map{
width: 50%;
margin-right: 6rem;
text-align: center;
}
.contact {
    width: 50%;
}
.contact h3 {
    margin-left: 350px;
    font-size: 1.5rem;
}
.contact p,
.contact a {
    margin-left: 400px;
}

#find-your-dent-guy h3 {
    margin-left: 350px;
    
}
#find-your-dent-guy p {
    margin-left: 400px;
}
#find-your-dent-guy h2 {
    color: white;
    background-color: #0092FF;
    padding: 10px 15px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
#find-your-dent-guy {
    padding-bottom: 100px;
}
.dent-guys-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: -50px;
}
.shop {
    margin-right: 150px;
}
.mobile {
    margin-left: 150px;
}
.shop h3 {
    font-size: 1.5rem;
}
.mobile h3 {
    font-size: 1.5rem;
}
.mobile p {
    padding-left: 50px;
}
.shop p {
    padding-left: 50px;
}


/*photos page*/
.photos {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
.photos img {
    width: 40%;
    padding: 40px;
}

/*services page*/
.services {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-bottom: 2rem;

}
.info {
    margin-left: 6rem;
}
.info p {
    margin-left: 3rem;
}
.info-photo img {
    border: 2px solid black;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 6rem;
}

.info h3 {
    font-size: 1.5rem;
}