body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: white;
    padding: 1rem;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}
@media screen and (min-width: 900px) {
    h1 {
        font-size: 6rem;
    }
}
#logo {
        margin: 0;
        box-align: left;
}

.header-right {
    text-align: right;
    padding-right: 5rem;

}
header li {
    display: inline-block;
    padding: 10 px;

}
.home-photo {
    background-color: #003366 ;
    padding: 2rem;
    color: white;
    padding-left: 300px;
}

.align {
    text-align: center;
}

.reviews {
    background-color: lightgray;
    text-align: center;
}
.reviews li {
    display: inline-block;
}

footer li {
    padding-left: 5rem;
}
.footer-right {
    text-align: right;
    padding-right: 5rem;
}